<h2>Book</h2>

<%= link_to 'New', routes.new_book_path %>

<div class="book-container">
  <% books.each do |book| %>
    <div class="book">
      <h3><%= book.title %></h3>
      <p><%= book.author %></p>
      <%= link_to 'Edit', routes.edit_book_path(id: book.id) %>
      <%=
        form_for :book, routes.book_path(id: book.id), method: :delete do
          submit '削除'
        end
      %>
    </div>
  <% end %>
</div>
